@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";

.foo-button {
	@include mdc-button-ink-color(teal);
	@include mdc-states(teal);
}

body {
  display: flex;
  height: 100vh;
  margin: 0px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}