[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"

[dev-packages]
flask = "*"
sqlalchemy = "*"
pymysql = "*"
flask-sqlalchemy = "*"
pylint = "*"

[requires]
python_version = "3.65"
