{% extends "base.html" %}

{% block content %}
    <style>
    .error {color: red; font-style:italic}
    </style>
    <form method='post'>
        <label>
            Title for your new blog:
            
        </label><br>
        <input type="text" name='title' style="display: inline-block" value="{{ title }}" /><br>
        <p class="error">{{ title_error }}</p>
        <div style="padding-top: 25px">
            <label >Your new blog:</label><br>
            <textarea type="text" name='body' rows="10" cols="30">{{body}}</textarea><br>
            <p class="error">{{ body_error }}</p>
            <input type="submit" value='Add Entry' />
        </div>
    </form>



{% endblock %}