<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form method="POST">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>Username</label>
                    </td>
                    <td>
                        <input type="text" aria-labelledby="Username" name="Username"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password</label>
                    </td>
                    <td>
                        <input type="text" aria-labelledby="Password" name="Password"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Verify Password</label>
                    </td>
                    <td>
                        <input type="text" aria-labelledby="Verify Password" name="Verify Password"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Email(Optional)</label>
                    </td>
                    <td>
                        <input type="text" aria-labelledby="Email (optional)" name="Email (optional)"><br>
                    </td>
                </tr>          
            </tbody>
        </table>
        <input type="submit">
    </form>
   
  </body>
</html>